{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="text-center">
  <h1>{% trans "Sign In" %}</h1>  

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Please sign in with your BITS Email account:{% endblocktrans %}</p>

  <div class="socialaccount_ballot">

    <div class="socialaccount_providers">
      {% for provider in socialaccount_providers %}
        {% if provider.id == "google" %}
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        {% endif %}
      {% endfor %}
    </div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}Google sign-in is not configured. Please contact the site administrator.{% endblocktrans %}</p>
  {% endif %}
</div>

{% endblock %}