{% extends 'base/base.html' %}

{% block content %}
<h1 class="mb-4">{{ course.name }}</h1>
<div class="mb-4">
    <p><strong>Department:</strong> {{ course.department.name }}</p>
    <p><strong>Course Incharge:</strong> {{ course.course_incharge.name }}</p>
    <p><strong>Credit:</strong> {{ course.credit }}</p>

    {% if enrollment %}
        <p><strong>Grade:</strong> {{ enrollment.grade }}</p>
    {% else %}
        <p>You are not enrolled in this course.</p>
    {% endif %}
</div>

<a href="{% url 'evals' course.id %}" class="btn btn-primary mb-4">View Evaluations</a>

<h2 class="mb-3">Announcements</h2>
{% if announcements %}
    <ul class="list-group">
        {% for announcement in announcements %}
            <li class="list-group-item">
                <h3>{{ announcement.title }}</h3>
                <p>{{ announcement.content }}</p>
                {% if announcement.files %}
                    <a href="{% url 'download_file' announcement.id %}" class="btn btn-primary btn-sm">Download File</a>
                {% endif %}
                <p><strong>Created by:</strong> {{ announcement.created_by.name }}</p>
                <p><strong>Created at:</strong> {{ announcement.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No announcements available.</p>
{% endif %}
{% endblock %}